nav {
  position: fixed;
  display: flex;
  width: 80vw;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.5rem;

  /* border: 1px solid var(--clr-white); */
}

.logo {
  width: 100px;
  height: 100px;
}

.nav-ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0 0 0 5px;
  gap: 10px;

  align-items: center;
  text-align: center;

  background-color: var(--clr-grey);
  border-radius: 30px;
}

.nav-ul_li {
  border: 1px solid var(--clr-white);
  border-radius: 30px;
  padding: 0.3rem 0.5rem;
}

.nav-ul_switch {
  /* border: 1px solid var(--clr-white); */
  border-radius: 20px;
  padding: 5px;
  display: flex;
  gap: 5px;
  justify-content: center;
  transition: opacity 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

.nav-ul_switch:hover {
  opacity: 0.7;
  box-shadow: inset 0px 0px 0px 1px var(--clr-white);
}

.nav-ul_switch_icon {
  font-size: 1.2rem;
}

.nav-ul_switch_icon,
.nav-ul_li {
  cursor: pointer;
  caret-color: transparent;
  user-select: none;
}