main {
  /* width: 80vw; */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heroText {
  max-width: 500px;
  color: var(--clr-white);
}

.heroText h1 {
  margin: 0;
  font-size: 10rem;
  font-family: var(--fnt-head);
}

.heroText p {
  margin: 0;
  font-size: 1.5rem;
}

.heroText p span {
  color: transparent;
  background: linear-gradient(90deg, var(--clr-green), var(--clr-blue));
  background-clip: text;
}

.heroImg img {
  position: relative;
  width: 30vw;
  height: 30vw;
  width: 100%;
  height: 100%;
  border-radius: 30px; /* Border radius for the image */
  background-color: grey; /* Image background color */
}

.heroImg::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border-radius: 30px; /* Apply the same radius as the image */
  background: linear-gradient(
    90deg,
    var(--clr-green),
    var(--clr-blue)
  ); /* Gradient border */
  z-index: -1; /* Ensure  ``````the pseudo-element is behind the image */
}

.glow {
  position: absolute;
  width: calc(30vw + 50px);
  height: calc(30vw + 50px);
  background: linear-gradient(90deg, var(--clr-green), var(--clr-blue));
  transform: translate(-25px, calc(-30vw - 25px));
  z-index: -1;
  filter: blur(100px);
}
